Artigos_e_livros/*
Imagens/*
Latex/*
Programas/FPGA/old/*
**/HxD.exe
**/HxD.ini
RelatorioAntigo/*
Tese\ Luciano/*
**/msim_transcript
.grive
Programas/FPGA/ProcessadorImagemGMAW/db/*
Programas/FPGA/ProcessadorImagemGMAW/incremental_db/*
Programas/FPGA/ProcessadorImagemGMAW/output_files/*
Programas/FPGA/ProcessadorImagemGMAW/simulation/*
